<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于{maccms:name}广告合作-最新最全的百度影音在线观看网站</title>
<meta name="keywords" content="{maccms:name}广告合作" />
<meta name="description" content="{maccms:name}-最新最全的百度影音在线观看网站-www.M1938.com" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/common.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/about.css" />
</head>
<body>
<a name="n"></a>
<div class="header">
<h1 class="logo"> 
<a target="_parent" class="logo-index" href="/"><img alt="关于{maccms:name}" src="{maccms:path_tpl}/m1938/help/help/tvjue.png" id="logo_index" /></a><a target="_parent" class="logo-cur" href=""></a> 
	<img class="pic" src="{maccms:path_tpl}/m1938/help/help/top_bg.png" />
	</h1>
    
</div>
<div class="guide clearfix"> <span class="location">您当前的位置：<a href="/" target="_parent">频道首页</a> &raquo; <span>关于{maccms:name}</span></span>
<span class="meta"><a target="_parent" class="sethome" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.M1938.com')" href="javascript://">把{maccms:name}设为主页</a></span>
</div>
 
<div class="wrap">
	<div class="about clearfix">
		<div class="sideBar fl">
		<div class="menu">
		<a href="{maccms:getlink about.html}"  target="_self"><b class="sign"></b>网站简介</a>
                <a href="{maccms:getlink guide.html}" target="_self"><b class="sign last"></b>快速入门</a>
		<a href="{maccms:getlink operation.html}" target="_self"><b class="sign last"></b>操作指南</a>
                <a href="{maccms:getlink faq.html}" target="_self"><b class="sign last"></b>常见问题</a>
                <a href="{maccms:getlink ggtf.html}" class="cur last"  target="_self"><b class="sign last"></b>广告投放</a>
		<a href="{maccms:link_gbook}"  target="_self"><b class="sign"></b>意见反馈</a>
		</div>
		</div>
		<div class="content fl">
			<div class="contact">
				<div class="way">
					<h3 class="title">联系方式：</h3>
					<p>Email：438638916@QQ.com</p>
					<p>广告合作QQ：438638916</p>
					<p>友情交换QQ：438638916</p>
					<p>站长邮箱：438638916@QQ.com</p>
				</div>
                                  <div class="ad">
					<h3 class="title">广告投放说明：本站暂停任何广告业务！</h3>
		</div>
	</div>
	<i class="l-t"></i>
    <i class="r-t"></i>
</div>
<div class="footer">&copy;2008- 2015 {maccms:name}(www.M1938.com) {maccms:icp} <a href="/" class="go-back">返回首页</a></div>
<div style="display: block;" id="gotop"> <a href="#n" target="_self">返回顶部</a></div>
</body>
</html>
