<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>百度影音操作指南-最新最全的百度影音在线观看网站</title>
<meta name="keywords" content="{maccms:name}留言本" />
<meta name="description" content="{maccms:name}-最新最全的百度影音在线观看网站-www.m1938.com" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/common.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/about.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/help.css" />
<!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e61721e7ccb9f42aedcf6ff7f8103cd8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<a name="n"></a>
<div class="header">
<h1 class="logo"> 
<a target="_parent" class="logo-index" href="/"><img alt="操作指南" src="{maccms:path_tpl}/m1938/help/help/tvjue.png" id="logo_index" /></a><a target="_parent" class="logo-cur" href="http://www.m1938.com/"></a> 
	<img class="pic" src="{maccms:path_tpl}/m1938/help/help/top_bg.png" />
	</h1>
    
</div>
<div class="guide clearfix"> <span class="location">您当前的位置：<a href="/" target="_parent">频道首页</a> &raquo; <span>百度影音操作指南</span></span>
<span class="meta"><a target="_parent" class="sethome" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.m1938.com')" href="javascript://">把{maccms:name}设为主页</a></span>
</div>
 
<div class="wrap">
	<div class="about clearfix">
		<div class="sideBar fl">
		<div class="menu">
		<a href="{maccms:getlink about.html}"  target="_self"><b class="sign"></b>网站简介</a>
                <a href="{maccms:getlink guide.html}" target="_self"><b class="sign last"></b>快速入门</a>
		<a href="{maccms:getlink operation.html}" class="cur last"  target="_self"><b class="sign last"></b>操作指南</a>
                <a href="{maccms:getlink faq.html}"  target="_self"><b class="sign last"></b>常见问题</a>
                <a href="{maccms:getlink ggtf.html}" target="_self"><b class="sign last"></b>广告投放</a>
		<a href="{maccms:link_gbook}"  target="_self"><b class="sign"></b>意见反馈</a>
		</div>
		</div>
		<div class="content fl">
		<div class="union clearfix">
		<div class="con">
		<h5>1.媒体文件操作<a name="n1"></a></h5>
	 <p>百度影音是由百度公司最新推出的一款支持主流格式影片和音乐文件的本地及在线播放器。可以通过以下方式打开媒体文件：<br />
        第1种方式：从资源管理器打开<br />
        1) 有文件关联时，鼠标左键双击已经关联的媒体文件；<br />
        2) 有文件关联时，鼠标右键单击已经关联的媒体文件，选择右键菜单中的“使用百度影音播放”<br />
        
        3) 有文件关联时，鼠标右键单击已经关联的媒体文件，选择右键菜单中的“使用百度影音播放”影音播放。在百度影音主界面点击【<img src="http://player.baidu.com/help/images/image037.png" width="135" height="46">】或鼠标左键双击列表中的媒体文件。<br />
        4) 鼠标右键单击媒体文件，选择“打开”即可观看视频。<br /><br />
        第2种方式：打开系统“资源管理器”浏览文件打开并直接播放。<br />
        第1步：打开系统资源管理器浏览文件，有以下方式：<br />
        1）点击视频区中间的【<img src="http://player.baidu.com/help/images/image037.png" width="135" height="46">】<br />
        2）双击视频区的空白区域<br />
        3）当没有文件正在播放或暂停时，点击【<img src="http://player.baidu.com/help/images/image069.png" width="27" height="26">】<br />
        
        4）点击右上角【<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">】下主菜单的“打开”中的【<img src="http://player.baidu.com/help/images/image037.png" width="135" height="46">】<br />
        5）鼠标右键点击视频区，打开右键菜单，选择【<img src="http://player.baidu.com/help/images/image037.png" width="135" height="46">】<br />
        第2步：选择一个或多个媒体文件后，点击【打开（O）】<br /><br />
        第3种方式：打开系统资源管理器浏览文件打开（不直接播放）。<br />
        第1步：打开系统资源管理器浏览文件。有以下方式：<br />
        1) 点击播放列表上方的【<img src="http://player.baidu.com/help/images/image043.png" width="26" height="20">】<br />
        2) 鼠标右键单击播放列表，选择右键菜单中的【添加文件…】<br />
        
        第2步：选择一个或多个媒体文件后，点击【打开（O）】<br />
        第3步：在百度影音主界面点击【<img src="http://player.baidu.com/help/images/image069.png" width="27" height="26">】或鼠标左键双击列表中的媒体文件<br /><br />
        第4种方式：文件夹方式打开。<br />
        1) 点击主界面右上角【<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">】打开主菜单，选择【打开文件夹】<br />
        <img src="http://player.baidu.com/help/images/image049.png" width="249" height="171"><br />
        2) 鼠标右键点击视频区，打开右键菜单，选择【打开文件夹】<br /><img src="http://player.baidu.com/help/images/image051.png" width="134" height="187"><br />
        3) 鼠标右键单击播放列表，选择右键菜单中的【添加文件夹】 <img src="http://player.baidu.com/help/images/image053.png" width="162" height="120">，在百度影音主界面点击【<img src="http://player.baidu.com/help/images/image069.png" width="27" height="26">】或鼠标左键双击列表中的媒体文件。<br /><br />
        
        第5种方式：拖曳。<br />
        1) 拖曳媒体文件到百度影音<br />
        2) 拖曳媒体文件或包含媒体文件的文件夹到主界面视频区<br />
        3) 拖曳媒体文件或包含媒体文件的文件夹到播放列表，在百度影音主界面点击【<img src="http://player.baidu.com/help/images/image069.png" width="27" height="26">】或鼠标左键双击列表中的媒体文件。<br />
        2、查看媒体信息<br />
        点击右上角 <img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">下主菜单的“打开”中的 <img src="http://player.baidu.com/help/images/image057.png" width="237" height="82">，弹出以下对话框，可以查看您正在播放的媒体文件的信息：<br /><img src="http://player.baidu.com/help/images/image059.png" width="410" height="301"><br />
        3、打开在线播放文件<br />
        
        1）首页点击打开文件右侧<img src="http://player.baidu.com/help/images/image017.png" width="30" height="29">，接着点击<img src="http://player.baidu.com/help/images/image019.png" width="149" height="97">，接着会弹出<br />
        <img src="http://player.baidu.com/help/images/image021.png" width="410" height="177"><br />
        输入相应的url地址，点击“确定”即可在线播放。<br />
        2）暂停或在百度影音主界面单击右键，点击代开URL<br />
        <img src="http://player.baidu.com/help/images/image061.png" width="289" height="56"><br />
        4、关闭文件<br />
        点击主界面下方的“停止”按钮<img src="http://player.baidu.com/help/images/image063.png" width="23" height="23"> <br />
        5、退出百度影音<br />
        
        点击主界面右上角的<img src="http://player.baidu.com/help/images/image065.png" width="34" height="22">，或者主菜单里的“退出”，可以退出百度影音
        </p>
	  <p class="top"><a href="#n">返回页首</a></p>
		<h5>2.基本播放功能<a name="n2"></a></h5>
		<p>1、 播放/暂停<br />
        点击主界面下方的 <img src="http://player.baidu.com/help/images/image067.png" width="45" height="40">按钮可以暂停影片播放，暂停后按钮变成 <img src="http://player.baidu.com/help/images/image069.png" width="27" height="26">，再点击这个按钮可以继续播放。也可以通过点击主菜单的<img src="http://player.baidu.com/help/images/image071.png" width="227" height="54">【播放】子菜单下的完成同样的操作。<br />
        2、 快进快退<br />
        点击主菜单的【播放】子菜单下的<img src="http://player.baidu.com/help/images/image073.png" width="94" height="126">，可以使影片快进5秒和快退5秒。更方便的做法，是使用热键进行这一操作，默认的热键是“→”和“←”。关于百度影音提供的热键信息，参见使用和设置热键。<br />
        
        3、	播放上一文件、下一文件<br />
        点击主界面下方的<img src="http://player.baidu.com/help/images/image075.png" width="41" height="36">和<img src="http://player.baidu.com/help/images/image077.png" width="35" height="26">按钮可以播放播放列表里的上一文件和下一文件，如何使用播放列表，参见使用播放列表。<br />
        4、 改变音量<br />
        点击主界面下方的<img src="http://player.baidu.com/help/images/image079.png" width="27" height="35">，按钮图标变成<img src="http://player.baidu.com/help/images/image081.png" width="22" height="28">，表示播放过程没有声音，再点击一次可以恢复。通过拖动旁边的滑杆可以改变音量的大小。更方便的做法，是使用鼠标滚轮<img src="http://player.baidu.com/help/images/image083.png" width="102" height="24">进行调节音量的操作，滚轮向上滑动增大音量，向下滑动降低音量。 </p>
                  
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>3.播放时的屏幕控制<a name="n3"></a></h5>
		<p>1、改变播放模式您可以在播放的过程中将鼠标移到界面上部分，会出现“浮动控制栏” <img src="http://player.baidu.com/help/images/image085.png" width="189" height="23">，通过“浮动控制栏”轻松切换各种模式，也可以通过点击菜单里 <img src="http://player.baidu.com/help/images/image087.png" width="130" height="78">的相应菜单项来切换，还可以通过热键进行切换。关于百度影音提供的热键信息，参见使用和设置热键。<br />
        
        2、设定总在最前点击主菜单下的“播放器设置”，【系统－播放在最前】，选择相应的项，可以使百度影音的窗口一直在最前端、播放的时候在最前端或者不在最前端。<br />
        3、改变显示比例<br />
        点击右键菜单选择【画面】，选择相应的项，可以使百度影音播放的视频按一定的比例显示或都铺满窗口。
        </p>
		<p class="top"><a href="#n">返回页首</a></p> 
         
        <h5>4.高级播放控制<a name="n4"></a></h5>
		 <p>1、调节播放速度：<br />
            点击主界面下方的播放进度条两侧的箭头，可以调整播放速度， <img src="http://player.baidu.com/help/images/image089.png" width="16" height="20">点击一次播放速度比正常的少0.1倍，反之则增加0.1倍；最大可以加速到2倍，减速到0.1倍；按R键则为正常速度<br />
            2）跳转到指定时间：<br />
 
            拖动主界面下方的 <img src="http://player.baidu.com/help/images/image091.png" width="58" height="32">播放按钮，可以到达你想要达到的时间点，进行播放</p>
		<p class="top"><a href="#n">返回页首</a></p> 
        
        <h5>5.高级声音控制<a name="n5"></a></h5>
		<p>当<img src="http://player.baidu.com/help/images/image095.png" width="93" height="29">声音通知鼠标拖到最大时候，还可以通过“↑”和“↓”进行声音调节</p>
		<p class="top"><a href="#n">返回页首</a></p> 
        
        <h5>6.使用及设置热键<a name="n6"></a></h5>
          <p>1、	使用热键百度影音对常用的操作提供了热键，您在使用百度影音的过程中，可以通过热键有效的提高您的操作速度。百度影音提供热键的功能以及默认的热键如下：<br /><table border="0" cellspacing="0" cellpadding="0" width="50%">
        
          <tr>
            <td>功能</td>
            <td>热键</td>
            <td width="27%">功能</td>
            <td width="23%">热键</td>
          </tr>
          <tr>
        
            <td>打开文件</td>
            <td>Ctrl + O</td>
            <td width="27%">打开URL</td>
            <td width="23%">Ctrl + U</td>
          </tr>
          <tr>
            <td>全屏切换</td>
        
            <td>回车</td>
            <td width="27%">播放/暂停</td>
            <td width="23%">空格</td>
          </tr>
          <tr>
            <td>上一个文件</td>
            <td>PgUp</td>
        
            <td width="27%">下一个文件</td>
            <td width="23%">PgDn</td>
          </tr>
          <tr>
            <td>快进</td>
            <td>→</td>
            <td width="27%">快退</td>
        
            <td width="23%">←</td>
          </tr>
          <tr>
            <td>降低音量</td>
            <td>↑</td>
            <td width="27%">升高音量</td>
            <td width="23%">↓</td>
        
          </tr>
          <tr>
            <td>静音</td>
            <td>M</td>
            <td width="27%">播放列表</td>
            <td width="23%">F3</td>
          </tr>
        
          <tr>
            <td>播放器设置</td>
            <td>F5</td>
            <td width="27%"></td>
            <td width="23%"></td>
          </tr>
        </table><br />
        2、设置热键<br />为了更好的满足不同用户的需求，百度影音为习惯于其它播放器操作习惯的用户预设了两套热键，您也可以自己定义热键。点击主菜单下的【播放器设置】，可以打开参数设置对话框，选择左边的【热键】：<br />
        
        <img src="http://player.baidu.com/help/images/image097.png" width="501" height="327"><br />
        在“操作模式”下拉列表中可以选择您所习惯的操作模式，选中一个操作模式后，下面的热键和鼠标响应会相应的变化，您可以直接在下面输入您希望的热键，这时候操作模式将自动改为“自定义模式”。
        </p>
		<p class="top"><a href="#n">返回页首</a></p> 
        
        <h5>7.使用播放列表<a name="n7"></a></h5>
		 <p>1、打开与关闭播放列表<br />
            播放列表帮助用户一次性的管理一系列的电影或歌曲。您可以点击主面板右下角的<img src="http://player.baidu.com/help/images/image099.png" width="28" height="28">按钮显示或隐藏播放列表：<br />
            <img src="http://player.baidu.com/help/images/image101.png" width="209" height="132"><br />
            2、 拖动播放列表左边的边框可以改变播放列表的宽度。点击左边框中间的<img src="http://player.baidu.com/help/images/image103.png" width="15" height="68">箭头图标可以把列表收起或展开。注意：<img src="http://player.baidu.com/help/images/image099.png" width="28" height="28">点和<img src="http://player.baidu.com/help/images/image103.png" width="15" height="68">的区别在于，前者可以把播放列表完全隐藏，而后者还会在主界面上显示一个播放列表的边框。<br />
            
            3、	添加文件到播放列表<br />
            点击播放列表上部的 <img src="http://player.baidu.com/help/images/image105.png" width="28" height="19">按钮，或者在右键菜单中选择，可以添加一系列文件到播放列表中。<br />
            4、	删除列表项与清除列表<br />
            用鼠标左键选中列表中的 <img src="http://player.baidu.com/help/images/image108.png" width="206" height="20">一个或多个项（按住Ctrl键可以多选，按住Shift可以连选），点列表上部的按钮，或者在右键菜单中选择，可以把所选中的列表项从播放列表中去除。在右键菜单中选择 <img src="http://player.baidu.com/help/images/image110.png" width="25" height="23">，可以把整个列表清空。<img src="http://player.baidu.com/help/images/image112.png" width="157" height="218"> <br />
            提示：上述操作都不会真正删除硬盘上的文件。
            </p>
		<p class="top"><a href="#n">返回页首</a></p> 
        
        <h5>8.百度影音设置<a name="n8"></a></h5>
		 <p>基本设置点击主菜单下的【播放器设置】，可以打开参数设置对话框，选择左边的【播放】：<br />
            <img src="http://player.baidu.com/help/images/image114.png" width="498" height="328"><br />在这里您可以选择您希望关联的文件。默认百度影音将为您关联所有的电影文件，而不关联音乐文件。<br /><img src="http://player.baidu.com/help/images/image116.png" width="498" height="328"></p>
		<p class="top"><a href="#n">返回页首</a></p> 
        
        <h5>9.其他功能-截屏<a name="n9"></a></h5>
		<p>您可以把您看到的电影中您喜欢的一幅图截下来，在屏幕上点右键菜单，选择【截图－截取当前图像】，就可以把当前画面存成一个图片。保存的目录可以自行设置， 截图设置<br />
            <img src="http://player.baidu.com/help/images/image118.png" width="493" height="322"></p>
		<p class="top"><a href="#n">返回页首</a></p> 
                                     
	</div>
		</div>
	</div>
	<i class="l-t"></i>
    <i class="r-t"></i>
</div></div>
</div>
</div>
</div>
<div class="footer">&copy;2008- 2015 {maccms:name}(www.m1938.com) {maccms:icp} <a href="/" class="go-back">返回首页</a></div>
<div style="display: block;" id="gotop"> <a href="#n" target="_self">返回顶部</a></div>
<!--百度自动提交代码-->
<script>
(function(){
    var bp = document.createElement('script');
    
var curProtocol = window.location.protocol.split(':')[0];
    if 
(curProtocol === 'https') {
        bp.src = 
'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        
bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = 
document.getElementsByTagName("script")[0];
    
s.parentNode.insertBefore(bp, s);
})();
</script>

</body>
</html>
