 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于{maccms:name} -最新最全的影视在线观看网站</title>
<meta name="keywords" content="{maccms:name} 留言本" />
<meta name="description" content="{maccms:name} -最新最全的影视在线观看网站-www.m1938.com" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}m1938/help/help/common.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}m1938/help/help/about.css" />
</head>
<body>
<a name="n"></a>
<div class="header">
<h1 class="logo"> 
<a target="_parent" class="logo-index" href="http://www.m1938.com /"><img alt="关于{maccms:name} " src="{maccms:path_tpl}m1938/help/help/tvjue.png" id="logo_index" /></a><a target="_parent" class="logo-cur" href=""></a> 
	<img class="pic" src="{maccms:path_tpl}m1938/help/help/top_bg.png" />
	</h1>
    
</div>
<div class="guide clearfix"> <span class="location">您当前的位置：<a href="http://www.M1938.com/" target="_parent">影视首页</a> &raquo; <span>关于{maccms:name} </span></span>
<span class="meta"><a target="_parent" class="sethome" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.m1938.com')" href="javascript://">把{maccms:name} 设为主页</a></span>
</div>
 
<div class="wrap">
	<div class="about clearfix">
		<div class="sideBar fl">
		<div class="menu">
		<a href="{maccms:getlink about.html}" class="cur last" target="_self"><b class="sign"></b>网站简介</a>
                <a href="{maccms:getlink guide.html}" target="_self"><b class="sign last"></b>快速入门</a>
		<a href="{maccms:getlink operation.html}" target="_self"><b class="sign last"></b>操作指南</a>
                <a href="{maccms:getlink faq.html}" target="_self"><b class="sign last"></b>常见问题</a>
                <a href="{maccms:getlink ggtf.html}" target="_self"><b class="sign last"></b>广告投放</a>
		<a href="{maccms:link_gbook}"  target="_self"><b class="sign"></b>意见反馈</a>
		</div>
		</div>
		<div class="content fl">
		<div class="union clearfix">
              <a target="_blank" id="urlknet"  tabindex="-1" href="#"><img src="{maccms:path_tpl}m1938/kblogo.jpg" alt="安全网站"></a>
		<a target="_blank" id="urlknet"  tabindex="-1" href="https://www.m1938.com/"><img src="{maccms:path_tpl}m1938/rz2.gif" name="CNNIC_seal" alt="可信网站"></a>
		</div>
		<div class="introduce">
				<p>1、{maccms:name} —所有播放地址完全引导指向到有影视版板的正版网站(优酷土豆、爱奇艺、搜狐、乐视、迅雷等) ，所以完全符合中国的法律法规。把发展方向定位为国内最权威,录取最全,更新最快的“影音播放”和“普通播放”的影视类网站，致力于将最新最好最全的影片推荐给广大的网民朋友。凭借良好的播放速度定位、优秀的网站设计、成熟的运营方式。</p>
				<p>2、{maccms:name} 为什么有那么多不同网站的资源，那是因各正版视频网站的内容都不能完全覆盖，满足不了网友对影视观看的需求，所以我们就需要做这部份用户聚合的上游服务，将所有正版视频网站的内容聚集在一起，从而形成一个海量的影视资源。</p>
				<p>3、{maccms:name} (m1938.com )以终身免费的服务宗旨，为网友及影视爱好者提供最新的电影大片，热播电视剧，经典动漫，热播娱乐节目在线观看及下载。本站以百度影音为主，播放速度非常快，绝对流畅，绿色安全无毒，放心访问和观看。</p>
                                <p>4、每天收录最新电影，高清电影电视，在线观看，并且实现提升您观看电视和电影的速度，不用在为网速慢，卡而烦扰，每天定时更新海量好看的电影和好看的电视剧，无需繁琐注册，点击即可观看，免费点播，随心观看.</p>
                                <p>5、网站特色：1.安全无毒，放心观看 2.免费在线播放，资源丰富 3.清晰度可达DVD标准，播放流畅 4.正版、高清电影电视剧视频，更新及时 5.经典外语影片，中英双字幕，适合学习英语的朋友们多多观看 6.还有粤语版供粤语爱好者观看。</p>
                                <p>6、本站所有资源均已注明收录来源，非本站版权内容！影片版权归版权方所有。</p>
<!-- 
 				<a class="re" href="#">返回首页</a>
 -->
			</div>
		</div>
	</div>
	<i class="l-t"></i>
    <i class="r-t"></i>
</div>
<div class="footer">&copy;2008- 2015 {maccms:name} (m1938.com) {maccms:icp} <a href="/" class="go-back">返回首页</a></div>
<div style="display: block;" id="gotop"> <a href="#n" target="_self">返回顶部</a></div>
</body>
</html>
