<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{maccms:name} 快速入门-最新最全的百度影音在线观看网站</title>
<meta name="keywords" content="快速入门" />
<meta name="description" content="{maccms:name}-最新最全的百度影音在线观看网站" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/common.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/about.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/help.css" />
</head>
<body>
<a name="n"></a>
<div class="header">
<h1 class="logo"> 
<a target="_parent" class="logo-index" href="http://www.m1938.com/"><img alt="快速入门" src="{maccms:path_tpl}/m1938/help/help/tvjue.png" id="logo_index" /></a><a target="_parent" class="logo-cur" href="http://www.m1938.com/"></a> 
	<img class="pic" src="{maccms:path_tpl}/m1938/help/help/top_bg.png" />
	</h1>
    
</div>
<div class="guide clearfix"> <span class="location">您当前的位置：<a href="/" target="_parent">频道首页</a> &raquo; <span>百度影音快速入门</span></span>
<span class="meta"><a target="_parent" class="sethome" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.m1938.com')" href="javascript://">把{maccms:name}设为主页</a></span>
</div>
 
<div class="wrap">
	<div class="about clearfix">
		<div class="sideBar fl">
		<div class="menu">
		<a href="{maccms:getlink about.html}"  target="_self"><b class="sign"></b>网站简介</a>
                <a href="{maccms:getlink guide.html}" class="cur last" target="_self"><b class="sign last"></b>快速入门</a>
		<a href="{maccms:getlink operation.html}" target="_self"><b class="sign last"></b>操作指南</a>
                <a href="{maccms:getlink faq.html}" target="_self"><b class="sign last"></b>常见问题</a>
                <a href="{maccms:getlink ggtf.html}" target="_self"><b class="sign last"></b>广告投放</a>
		<a href="{maccms:link_gbook}"  target="_self"><b class="sign"></b>意见反馈</a>
		</div>
		</div>
		<div class="content fl">
		<div class="union clearfix">
                
	<div class="con">
               <h5>1.百度影音简介<a name="n1"></a></h5>
		<p>百度影音是百度公司最新推出的一款全新体验的播放器。支持主流媒体格式的视频、音频文件，实现本地播放和在线点播。百度影音将不断完善产品性能、产品体验及产品功能。让它成为您休闲娱乐的伙伴，让您的工作与生活充满乐趣，为您提供优秀的视听服务。</p>
	  <p class="top"><a href="#n">返回页首</a></p>
		<h5>2.系统要求<a name="n2"></a></h5>
		<p>操作系统：Windows XP/Vista/win7</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>3.下载和安装<a name="n3"></a></h5>
		<p>进入百度影音官方主页<a href="http://player.baidu.com" target="_blank">http://player.baidu.com</a>下载最新版本的百度影音安装程序。将安装文件下载到本地，执行安装程序，按照提示进行简单的选择即可完成安装。安装完成即可使用。<br />
            <strong>具体的安装过程如下：</strong><br />
            第一步：双击运行百度影音安装程序<br />
            <img src="http://player.baidu.com/help/images/index001.png" width="498" height="362"><br />
            第二步：点击【下一步N】，继续安装<br />
            <img src="http://player.baidu.com/help/images/index002.png" width="498" height="362"><br />
            第三步：请阅读软件许可协议，点击【我同意（I）】继续安装。<br />
            <img src="http://player.baidu.com/help/images/index003.png" width="498" height="362"><br />
            第四步：选择需要安装的组件和希望关联的文件类型，单击【下一步（N）】继续安装<br />
            <img src="http://player.baidu.com/help/images/index004.png" width="498" height="362"><br />
            第五步：点击【浏览（B）…】按钮选择安装目录，单击【安装（I）】开始安装<br />
            <img src="http://player.baidu.com/help/images/index005.png" width="498" height="362"><br />
            第六步：单击【完成（F）】完成安装，选中【运行百度影音】，则安装完成后立即启动百度影音的程序。<br />
            <img src="http://player.baidu.com/help/images/index006.png" width="498" height="362"><br /></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>4.产品主界面<a name="n1"></a></h5>
		<p><img src="http://player.baidu.com/help/images/g013.png" width="605" height="422"><br />    
            1：标题区：显示正在播放的文件的文件名。<br />2：系统按钮区：包括关闭、最大化/还原、最小化和主菜单按钮。<br />3：浮动控制栏：包括模式切换、视频大小切换等按钮。<br />4：播放定位滑杆：拖动此滑杆可以定位到影片的任何位置<br />5：时间状态显示区域：显示当前播放时间和影片总长<br />6：主控制按钮区域：包括播放/暂停、停止、上一个文件、下一个文件、音量控制等最常用的功能按钮。<br />7：辅助功能区域：包括打开文件、改变外观、播放列表等按钮。<br />8：播放列表：管理播放列表</p>
        <h5>5.打开播放文件<a name="n2"></a></h5>
        <p>1）打开本地文件<br />
通过在资源管理器中双击已经关联百度影音的文件，就可以用百度影音打开该媒体文件。或者在打开百度影音后，在百度影音主界面点击【 <img src="http://player.baidu.com/help/images/image015.png" width="112" height="39">】打开相应的媒体文件。</p>
        <p>2）在线播放文件<br />
首页点击打开文件右侧 <img src="http://player.baidu.com/help/images/image017.png" width="30" height="29">，接着点击<img src="http://player.baidu.com/help/images/image019.png" width="149" height="97">，接着会弹出<br /><img src="http://player.baidu.com/help/images/image021.png" width="410" height="177"><br />输入相应的url地址，点击确定即可在线播放。 </p>
	  	<p class="top"><a href="#n">返回页首</a></p>
		<h5>6.基本播放控制<a name="n3"></a></h5>
		<p>打开媒体文件后开始播放，在播放的过程中，您可以通过“主控制按钮区域”的按钮进行暂停、停止、调节音量等常用的操作。在“时间状态显示区域”看到当前播放时间和影片总长，通过“播放定位滑杆”快速定位影片等。<br />
        <img src="http://player.baidu.com/help/images/image023.png" width="640" height="57"></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>7.播放模式切换<a name="n4"></a></h5>
		<p>百度影音提供了普通窗口模式、全屏模式和0.5画面模式、2倍画面模式来满足用户的不同需求。普通窗口模式是在播放过程中保持窗口，您可以方便的进行各种操作。全屏模式是在播放过程中，影片铺满显示器，在移动鼠标时会出现底部和顶部的控制栏。您可以在播放的过程中通过“浮动控制栏”<img src="http://player.baidu.com/help/images/image025.png" width="201" height="27">轻松切换各种模式，也可以通过菜单或热键来进行切换。</p>
        <p class="top"><a href="#n">返回页首</a></p> 
		<h5>8.播放列表<a name="n5"></a></h5>
		<p>播放列表帮助用户一次性的管理一系列的电影或歌曲。点击主界面右下角的 <img src="http://player.baidu.com/help/images/image027.png" width="27" height="20">按钮可以显示或隐藏播放列表，拖动播放列表左边的边框可以改变播放列表的宽度；点击播放列表上部的按钮 <img src="http://player.baidu.com/help/images/image029.png" width="201" height="22">可以改变播放列表的显示模式、增加删除文件以及对播放列表中的文件进行排序等</p> 
        <p class="top"><a href="#n">返回页首</a></p>
        <h5>9.使用主菜单和右键菜单<a name="n6"></a></h5>
		<p>百度影音的功能都会在菜单中有体现，百度影音的菜单包括主菜单、主窗口的右键菜单和播放列表的右键菜单等。点击右上角的<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">按钮会弹出主菜单，在主窗口和播放列表点击鼠标右键会弹出相应的右键菜单</p> 
        <p class="top"><a href="#n">返回页首</a></p>
        <h5>10.使用热键和鼠标快键<a name="n7"></a></h5>
		<p>热键是指通过按键盘的某个键来完成某项功能，例如通过按回车切换全屏、通过上下箭头键调节音量等。百度影音对常用的功能都设置了热键，您也可以在参数设置面板里自己设置喜欢的热键。百度影音默认的热键列表如下所示：<br /><table border="0" cellspacing="0" cellpadding="0" width="50%">
  <tr>
    <td>功能</td>
    <td>热键</td>
    <td width="27%">功能</td>
    <td width="23%">热键</td>
  </tr>
  <tr>
    <td>打开文件</td>
    <td>Ctrl + O</td>
    <td width="27%">打开URL</td>
    <td width="23%">Ctrl + U</td>
  </tr>
  <tr>
    <td>全屏切换</td>
    <td>回车</td>
    <td width="27%">播放/暂停</td>
    <td width="23%">空格</td>
  </tr>
  <tr>
    <td>上一个文件</td>
    <td>PgUp</td>
    <td width="27%">下一个文件</td>
    <td width="23%">PgDn</td>
  </tr>
  <tr>
    <td>快进</td>
    <td>→</td>
    <td width="27%">快退</td>
    <td width="23%">←</td>
  </tr>
  <tr>
    <td>降低音量</td>
    <td>↑</td>
    <td width="27%">升高音量</td>
    <td width="23%">↓</td>
  </tr>
  <tr>
    <td>静音</td>
    <td>M</td>
    <td width="27%">播放列表</td>
    <td width="23%">F3</td>
  </tr>
  <tr>
    <td>播放器设置</td>
    <td>F5</td>
    <td width="27%"></td>
    <td width="23%"></td>
  </tr>
</table></p> 
	<p class="top"><a href="#n">返回页首</a></p>
    <h5>11.改变文件关联<a name="n8"></a></h5>
	<p>安装百度影音后，视音频文件会被关联到百度影音，这样双击文件就会用百度影音打开。您可以在参数设置面板里改变文件关联。</p> 
    <p class="top"><a href="#n">返回页首</a></p>
    <h5>12.使用播放器参数设置<a name="n9"></a></h5>
	<p>点击右键菜单的播放器设置<img src="http://player.baidu.com/help/images/image033.png" width="132" height="330">可以弹出控制面板，控制面板提供了一系列对当前正在播放的影片进行控制和调节的功能、热键的设置<img src="http://player.baidu.com/help/images/image035.png" width="402" height="231"></p> 
    <p class="top"><a href="#n">返回页首</a></p>                                          
	</div>
		</div>
	</div>
	<i class="l-t"></i>
    <i class="r-t"></i>
</div></div>
</div>
</div>
</div>
<div class="footer">&copy;2005- 2013 {maccms:name}(m1938.com) {maccms:icp} <a href="/" class="go-back">返回首页</a></div>
<div style="display: block;" id="gotop"> <a href="#n" target="_self">返回顶部</a></div>
</body>
</html>
