<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留言本-{maccms:name}</title>
<meta name="keywords" content="{maccms:name}留言本" />
<meta name="description" content="{maccms:name}留言" />	
{maccms:include}
</head>
<body>
{maccms:head}
<div class="content">
<div class="wrap">

<section class="comment sec" id="cmt_anchor">
<!--留言开始--><div class="layout" id="sign-content">
		<div class="ui-box ui-qire sign-focus" id="login-box">
		<div class="logo"><a href="{maccms:path}" title="m1938"></a></div>
			<div class="ui-title fn-clear">
		</div>
		<div class="ui-cnt fn-clear">
			<form id="regform" action="index.php?m=user-regsave.html" method="post">
				<div class="ui-form" id="sign-primary">
					<div class="ui-form-item fn-clear" >
						<label class="ui-label w100">&nbsp;</label>
						<p class="qire-notice">
							友情提示：注册成功后，请用用户名登录即可！
						</p>
			
					
					
					<div class="ui-form-item fn-clear" id="item_u_name">
					<iframe src="{maccms:path_tpl}pic1/zhuce.html" width="920" height="400" frameborder="no" border="0" marginwidth="0" marginheight="0"></iframe>


				<!-- // ui-form#sign-primary end -->

<div class="sign-app-list">
<h5>注册提示：</h5>
<h1> <font size="4"></font></h1><br>
		<p><font size="4">(1)本站视频完全免费，注册会员即可观看；</font></p><br>
		<p><font size="4">(2)因服务器压力较大，注册无反应请尝试刷新或者更换注册用户名；</font></p><br>	
		<p><font size="4">(3)注册后请选择相应服务器，点击进入即可观看；</font></p><br>
        <p><font size="4">(4)注册后请妥善保管帐号，本站72小时内仅能注册一次；</font></p><br>
		</div>          
              </div>
				</div>
			</div>
			<!-- // sign-app end -->
		</div>
	</div>
	<!-- // sign-box#regbox end -->
</div>	</div>
	
</div>
<!--留言结束-->
</section>
</div>
</div>
{maccms:foot}
<!--/Footer-->
</body>
</html>