<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>百度影音 常见问题-最新最全的百度影音在线观看网站</title>
<meta name="keywords" content="常见问题" />
<meta name="description" content="{maccms:name}-最新最全的百度影音在线观看网站-www.M1938.com" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/common.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/about.css" />
<link type="text/css" rel="stylesheet" href="{maccms:path_tpl}/m1938/help/help/help.css" />
</head>
<body>
<a name="n"></a>
<div class="header">
<h1 class="logo"> 
<a target="_parent" class="logo-index" href="http://www.M1938.com/"><img alt="常见问题" src="{maccms:path_tpl}/m1938/help/help/tvjue.png" id="logo_index" /></a><a target="_parent" class="logo-cur" href="http://www.M1938.com/"></a> 
	<img class="pic" src="{maccms:path_tpl}/m1938/help/help/top_bg.png" />
	</h1>
    
</div>
<div class="guide clearfix"> <span class="location">您当前的位置：<a href="http://www.M1938.com/" target="_parent">频道首页</a> &raquo; <span>百度影音常见问题</span></span>
<span class="meta"><a target="_parent" class="sethome" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.M1938.com')" href="javascript://">把{maccms:name}设为主页</a></span>
</div>
 
<div class="wrap">
	<div class="about clearfix">
		<div class="sideBar fl">
		<div class="menu">
		<a href="{maccms:getlink about.html}"  target="_self"><b class="sign"></b>网站简介</a>
                <a href="{maccms:getlink guide.html}" target="_self"><b class="sign last"></b>快速入门</a>
		<a href="{maccms:getlink operation.html}" target="_self"><b class="sign last"></b>操作指南</a>
                <a href="{maccms:getlink faq.html}" class="cur last"  target="_self"><b class="sign last"></b>常见问题</a>
                <a href="{maccms:getlink ggtf.html}" target="_self"><b class="sign last"></b>广告投放</a>
		<a href="{maccms:link_gbook}"  target="_self"><b class="sign"></b>意见反馈</a>
		</div>
		</div>
		<div class="content fl">
		<div class="union clearfix">
                
	<div class="con">
		<h5>1.什么是百度影音？百度影音有什么特点？<a name="n1"></a></h5>
		<p>百度影音是由百度公司最新推出的一款全新体验的播放器。支持主流媒体格式的视频、音频文件，实现本地播放和在线点播。<br />
        百度影音将不断完善产品性能、产品体验及产品功能；让它成为您休闲娱乐的伙伴，让您的工作与生活充满乐趣，为您提供优秀的视听服务。</p>
	  <p class="top"><a href="#n">返回页首</a></p>
		<h5>2.哪里可以下载到百度影音？<a name="n2"></a></h5>
		<p>进入百度影音官方主页 <a href="http://player.baidu.com" target="_blank">>>百度影音官网</a> 下载最新版本的百度影音安装程序。</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>3.安装成功后我要如何播放媒体文件？<a name="n3"></a></h5>
		<p>1）打开本地文件<br />
通过在资源管理器中双击已经关联百度影音的文件，就可以用百度影音打开该媒体文件。或者在打开百度影音后，在百度影音主界面点击【 <img src="http://player.baidu.com/help/images/image015.png" width="112" height="39">】打开相应的媒体文件。</p>
		<p>2）在线播放文件<br />
首页点击打开文件右侧 <img src="http://player.baidu.com/help/images/image017.png" width="30" height="29">，接着点击<img src="http://player.baidu.com/help/images/image019.png" width="149" height="97">，接着会弹出<br /><img src="http://player.baidu.com/help/images/image021.png" width="410" height="177"><br />输入相应的url地址，点击确定即可在线播放。 </p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>4.如何关联一个媒体文件？<a name="n4"></a></h5>
		<p>点击主界面右上角的<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">，打开主菜单，选择“设置”中的“参数设置”；在“参数设置”面板中选择“文件关联”，选择您需要关联的文件类型。</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>5.一个电影我还没播放完就关闭了百度影音，我下次再播放这个电影的时候是从上次结束位置开始的吗？<a name="n5"></a></h5>
		<p>缺省设置是从上次结束位置开始播放的。您也可以通过以下方式改变这个设置：点击主界面右上角的答：缺省设置是从上次结束位置开始播放的。您也可以通过以下方式改变这个设置：点击主界面右上角的<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20"> ，打开主菜单，选择“播放器设置”；在“播放器设置”面板中选择“播放”，去掉“记忆上次关闭播放器时文件的播放位置”的选项。打开主菜单，选择“播放器设置”，在“播放”面板中去掉“记忆上次关闭播放器时文件的播放位置”的选项。</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>6.我在右键菜单点了截图，可是截下来的图片到哪去了？<a name="n6"></a></h5>
		<p>在菜单上点击“截图”后，在屏幕左上角会显示截屏是否成功了。如果截图成功，截图会缺省保存到“我的文档”中的“百度影音截图”文件夹下。您可以通过以下方式查看截图保存的目录。打开右键菜单选择“截图”中的“打开截图保存文件夹”。<br />您也可以修改截图保存的路径。打开右键菜单选择“截图”中的“设置截图选项”，在打开的“参数设置”面板中的“其他设置”，在“截屏存储路径”中查看或修改目录。</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>7.我以前习惯了其它播放器的快捷键方式，现在想用百度影音，可以设置成我习惯的快捷键吗？<a name="n7"></a></h5>
		<p>可以。点击主界面右上角的主菜单【<img src="http://player.baidu.com/help/images/image031.png" width="26" height="20">】，选择“播放器设置”中的“热键”，您可以根据自己的习惯点击键盘相应的按键自定义快捷键。<br /><img src="http://player.baidu.com/help/images/image097.png" width="501" height="327"></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>8.在线播放和本地播放有何区别？怎么样看？<a name="n8"></a></h5>
		<p>百度影音支持在线播放，当您输入URL地址在线播放时<br />
1）	播放器的显示和本地播放在主界面左下角有一点细微的差别，出现 <img src="http://player.baidu.com/help/images/image129.png" width="21" height="22">；鼠标滑上去之后会显示出影片的相应信息<img src="http://player.baidu.com/help/images/image131.png" width="125" height="125"><br />
2）	播放列表处 会显示下载的百分比<br /><img src="http://player.baidu.com/help/images/image133.png" width="188" height="34"></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>9.为什么有的时候我只添加一个视频，会拉进来一堆？怎么才能只添加单个视频？<a name="n9"></a></h5>
		<p>当开启了添加相似名称文件功能的时候，添加一个文件时会把关联的剧集都添加进来。
在播放器设置-播放面板中取消勾选 播放连续剧时自动在文件夹里查找关联文件播放 一项即可。</p>
		<p><img src="http://player.baidu.com/help/images/image001.png" width="505" height="332" /></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>10.磁盘满了如何处理？<a name="n10"></a></h5>
		<p>在下载过程中若硬盘空间不足，百度影音会弹出提示窗口。只需重新设置缓冲目录或者删除旧缓冲文件即可。</p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>11.退出时清除播放痕迹：怎么把我的播放列表整个清除了？<a name="n11"></a></h5>
		<p>播放痕迹是指播放列表以及最近播放中的所有记录。如图，当您勾选了退出时清除播放痕迹一项时，每次关闭百度影音将会清空播放列表和最近播放记录。</p>
		<p><img src="http://player.baidu.com/help/images/image002.png" width="505" height="332" /></p>
        <p>您也可以单独对播放列表和最近播放记录进行设置，如图：</p>
        <p><img src="http://player.baidu.com/help/images/image003.png" width="641" height="252" /><img src="http://player.baidu.com/help/images/image004.png" width="244" height="380" /></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>12.如何完全退出百度影音？<a name="n12"></a></h5>
		<p>1）在系统托盘图标上右键选择完全退出</p>
        <p><img src="http://player.baidu.com/help/images/image005.png" width="151" height="190" /></p>
		<p>2）在播放器设置-系统中勾选退出时自动结束p2p进程</p>
        <p><img src="http://player.baidu.com/help/images/image006.png" width="505" height="332" /></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>13.页面播放的东西，会在本地存一份么？存在哪里？<a name="n13"></a></h5>
		<p>会。在播放器设置-下载面板中可以查看和设置缓冲文件目录。</p>
		<p><img src="http://player.baidu.com/help/images/image007.png" width="505" height="332" /></p>
		<p class="top"><a href="#n">返回页首</a></p>
		<h5>14.百度影音太占网速，一播放家里其他人都不能上网了？<a name="n14"></a></h5>
		<p>百度影音为达到更好的缓冲效果，有时可能会出现过度占用网速的情况。您可以在播放器设置-下载面板中设置最大上传下载速度。如图：</p>
		<p><img src="http://player.baidu.com/help/images/image008.png" width="505" height="332" /></p>
		<p class="top"><a href="#n">返回页首</a></p>
 		<h5>15.为什么安装了还是提示要安装？<a name="n15"></a></h5>
		<p>浏览器不支持或者没有成功注册。百度影音尚不支持64位浏览器。请参考以下解决方法<br />
		  1、若您使用64位操作系统，请安装32位浏览器<br />
         2、换用ie浏览器<br />
         3、卸载以前安装过的版本再安装新版</p>
		<p class="top"><a href="#n">返回页首</a></p>  
 		<h5>16.为什么一直没缓冲？<a name="n16"></a></h5>
		<p>1、缓存目录无法写入或者磁盘空间已满<br />
        2、当前网络限制对百度P2P服务器的访问<br />
        3、安装目录使用了中文<br />
        4、新旧版本播放列表不兼容<br />
        5、该资源没有查询到P2P源<br />
        6、其他</p>
        <p>解决方法：1、下载官网最新版本试用。点击本页最上方返回首页即可查看下载<br />
          2、重新设置缓冲目录<br />3、联系站长或管理员</p>
		<p class="top"><a href="#n">返回页首</a></p>
 		<h5>17.为什么播放的时候有声音没图像？<a name="n17"></a></h5>
		<p>1、可能您使用的不是最新版本，请在官网下载最新版本试用。点击本页最上方返回首页即可查看下载<br />
		  2、可能文件本身是损坏的<br />
	    3、百度影音解码器有待完善。欢迎将不能播放的文件提交给管理员</p>
		<p class="top"><a href="#n">返回页首</a></p> 
  		<h5>18.如何调节亮度、对比度、颜色等？<a name="n18"></a></h5>
		<p>1）本地播放：</p>
        <p>画面上单击右键弹出菜单，选择画面-画面控制 或 色彩调节</p>
        <p><img src="http://player.baidu.com/help/images/image009.png" width="434" height="463" /></p>
        <p>弹出对话框：</p>
        <p><img src="http://player.baidu.com/help/images/image010.png" width="364" height="217" /></p>
		<p>2）网页播放：</p>
        <p>画面上单击右键，选择画面-画面设置：</p>
        <p><img src="http://player.baidu.com/help/images/image011.png" width="300" height="291" /></p>
        <p>弹出对话框：</p>
        <p><img src="http://player.baidu.com/help/images/image012.png" width="323" height="172" /></p>
        <p>在对话框中进行调节。</p>
		<p class="top"><a href="#n">返回页首</a></p> 
		<h5>19.在非中文操作系统下，不能正常使用百度影音？<a name="n19"></a></h5>
		<p>在非中文的操作系统下，请将安装目录设置在英文目录下，同时缓冲文件路径也设置在英文目录下即可。</p>
		<p><img src="http://player.baidu.com/help/images/image013.png" width="505" height="332" /></p>
		<p class="top"><a href="#n">返回页首</a></p>  
        <h5>20.我用的Mac电脑安装win7 操作系统，看网页视频时不能缓冲？<a name="n20"></a></h5>
		<p>百度影音在安装时默认将缓冲目录设置在空间最大的盘符下，在win7系统的mac电脑中有可能这一路径是不能写入的，所以造成缓冲一直为0不能下载影片。
           只需手动更改缓冲路径即可。同上图。</p>
		<p class="top"><a href="#n">返回页首</a></p>                                
	</div>
		</div>
	</div>
	<i class="l-t"></i>
    <i class="r-t"></i>
</div></div>
</div>
</div>
</div>
<div class="footer">&copy;2005- 2013 {maccms:name}(www.M1938.com) {maccms:icp} <a href="/" class="go-back">返回首页</a></div>
<div style="display: block;" id="gotop"> <a href="#n" target="_self">返回顶部</a></div>
</body>
</html>
