<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电影大全-电视剧大全-{maccms:name}</title>
<meta name="keywords" content="电影大全,电视剧大全,最新电影,热播电视剧" />
<meta name="description" content="{maccms:name}提供2016最新电影、最好看的电视剧、高清电影下载" />
{maccms:include}
<link href="{maccms:path_tpl}detail/map.css" rel="stylesheet" type="text/css">
<!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e61721e7ccb9f42aedcf6ff7f8103cd8";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head><body>
{maccms:head}
<div class="cywarp"> {maccms:matrix type=all}
  <div class="commend b map cl">
    <h4><strong>[matrix:name]</strong><a href="[matrix:link]" class="more">更多>></a></h4>
    <ol class="nb">
      {maccms:vod num=42 order=desc by=time type=[matrix:id]}
      <li><span class="num">[vod:num].</span><a href="[vod:link]" >[vod:name]</a><span>[vod:typename]/[vod:year]</span></li>
      {/maccms:vod}
    </ol>
  </div>
  {/maccms:matrix} 
  <!--/Map--> 
  
</div>
<!--/Wrap--> 

{maccms:foot} 

<!--/Footer-->
<!--百度自动提交代码-->
<script>
(function(){
    var bp = document.createElement('script');
    
var curProtocol = window.location.protocol.split(':')[0];
    if 
(curProtocol === 'https') {
        bp.src = 
'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        
bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = 
document.getElementsByTagName("script")[0];
    
s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>
