<!DOCTYPE html>

<html lang="zh-CN">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="renderer" content="webkit">

<meta name="applicable-device" content="pc,mobile">
<title>[vod:name]-[vod:remarks] 免费在线观看 点播 免费看 免系下载 免百度资源 免费电影 免费视频 花园影视</title>
<meta name="Keywords" content="[vod:name]免费在线观看 爱奇艺会员账号 爱奇艺会员共享 优酷会员账号共享 qq好莱坞会员 腾讯视频会员 " />
<meta property="og:type" content="videolist"/>
<meta property="og:title" content="[vod:name]"/>
<meta property="og:image" content="[vod:pic]"/>
<meta property="og:video:actor" content="[vod:starringlink]"/>
<meta property="og:video:director" content="[vod:directedlink]"/>
<meta property="og:video:area" content="[vod:area]"/>
 <meta property="og:video:class" content="[vod:typename]"/>
<meta property="og:video:language" content="[vod:lang]"/>
<meta name="og:description" content="[vod:content]花园影视,免看广告,每天24点同步更新,无需下载,各大视频网站免VIP会员观看！" />
<link rel="stylesheet" type="text/css" href="/template/dabao/css/mobile.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

{maccms:include}




<!--百度统计-->

</head>

<body>




<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>



{maccms:head}

<div class="top clearfix">
<div id="weixin-tip"><p><img src="http://v.z-boss.cn/template/dabao/Images/weixin.png" alt="微信扫描打开APP下载链接提示代码优化"><span id="close" title="关闭" class="close">×</span></p></div>

<!--广告位置1-->
<div class="main">
<!--<table style="max-width:100%;overflow:hidden;" cellpadding="0" cellspacing="2" align="center" border="1" bordercolor="#000000">
	<tbody>
		<tr>
			<td style="text-align:center;">
				<p><br>
					广告位置1  微商广告低至2元
				</p>
				<p>
					联系微信：1926337827（长按可复制）
				</p><br>
			</td>
		</tr>
	</tbody>
</table>
<!--广告位置1结束-->


  <center><div style="width:100%;">
<div class="profile_opr" style="text-align:center;margin:1px;padding:4px 0px;border:2px solid #cc0000;background-color:#FFFFFF;">
<font size="" color="red">提示：</font>分享至你的微信朋友圈或QQ空间，会自动切换到<font size="" color="red">超清极速播放模式！</font>
</div></div></center>



	<div class="player mb">	<h3><center>【[vod:name]】</center></h3>

	[vod:playerinfo][vod:player]

<div class="profile_opr" div style="text-align:center;margin:1px;padding:4px 0px;border:1px solid #cc0000;font-size:15px;color:#cc0000;background-color:#FFFFFF;">
如果播放不了，请多刷新几次，在浏览器打开可以投射至电视播放！
</div></div>

<center>
<!--广告位置2-->
<div class="main">

<!--<table style="max-width:100%;overflow:hidden;" cellpadding="0" cellspacing="2" align="center" border="1" bordercolor="#000000">
	<tbody>
		<tr>
			<td style="text-align:center;">
				<p><br>
					广告位置2   微商广告低至2元
				</p>
				<p>
					联系微信：1926337827（长按可复制）
				</p><br>
			</td>
		</tr>
	</tbody>
</table>
<!--广告位置2结束-->

</center>

    <div class="main">

			<div class="tab-title mb clearfix">

    <ul>

<!--/分享代码-->

<div class="profile_opr">
<center>
	<span>↓↓↓由于工信部严打↓↓↓<span style="color:#E53333;"><strong>近期经常变更域名</strong></span>↓↓↓请加微信1926337827↓↓↓以免跟丢↓↓↓</span><br>
				 <img style="max-width:100%;overflow:hidden;" src="/images/wxpm.png" ></center>
	</div>




    	<li class="err"><a href="http://shang.qq.com/wpa/qunwpa?idkey=2ee04fa29c90694d3475b579133a60a0a1d2f7cf883df82bf2d763707ddedb91" id="tudouWeixinID">报错QQ群</a>  </li><li class="on">播放失败请刷新或切换路线</li>



    </ul>

  </div>
<br>
  <!--/播放地址-->

  <div id="stab1" class="tab-down mb clearfix">

	<div class="playfrom tab8 clearfix">

    <ul>

     {maccms:play}   

    <li id="tab8[play:num]" onClick="setTab('tab8','stab8',[play:num],[play:count])" {if-A:"[play:from]"= "[vod:playfrom]"} class="on" {endif-A}><i class="playerico ico-Azhan"></i> [play:show]</li>

     {/maccms:play}   

    </ul>

  </div>



{maccms:play}

  <div id="stab8[play:num]" class="playlist clearfix" {if-A:"[play:num]"> "1"} style="display:none" {endif-A} >

 	  	<div class="h1 clearfix">

  		<p class="intro"><font color="#f06000">[play:show]</font>[play:tip]</p>

  		<p class="jj"><span id="vlink_[play:num]_s1"><em onClick="Order(1,'vlink_[play:num]',[play:num])">倒序↓</em></span><span id="vlink_[play:num]_s2"><em onClick="Order(0,'vlink_[play:num]',[play:num])" class="over">顺序↑</em></span></p>

  	</div>

	  <div id="vlink_[play:num]" class="videourl clearfix"><ul>

	  {maccms:url order=asc}

	  <li><a title='[url:name]' href='[url:link]' target="_self">[url:name]</a></li>

	  {/maccms:url}

	  </ul></div>

  </div>

    {/maccms:play} 

  </div>




	

<!--广告位置2结束-->


</div>
<!--广告位置3-->
<div class="main">
<!--<table style="max-width:100%;overflow:hidden;" cellpadding="0" cellspacing="2" align="center" border="1" bordercolor="#000000">
	<tbody>
		<tr>
			<td style="text-align:center;">
				<p><br>
					广告位置3  微商广告低至2元
				</p>
				<p>
					联系微信：1926337827（长按可复制）
				</p><br>
			</td>
		</tr>
	</tbody>
</table>
<!--广告位置3结束-->


   <div class="index-area clearfix">

    <h2 class="title index-color">猜你喜欢</h2>

    <ul>

    {maccms:vod num=6 order=desc by=hits type={maccms:curvodtypeid} } 

    <li class="p1 m1"><a class="link-hover" href="[vod:link]" title="[vod:name]"><img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}Images/load.gif" alt="[vod:name]"><span class="video-bg"></span><span class="lzbz"><p class="name">[vod:name]</p><p class="actor">[vod:starring]</p><p class="actor">[vod:typename]</p><p class="actor">[vod:year]/[vod:area]</p></span><p class="other"><i>[vod:remarks]</i></p></a>

    </li>

    {/maccms:vod}

    </ul>

    </div>

<!--评论-->


{maccms:foot}

<!--/禁止右键-->

<script type="text/javascript"> document.body.oncontextmenu=document.body.ondragstart= document.body.onselectstart=document.body.onbeforecopy=function(){return false;};

document.body.onselect=document.body.oncopy=document.body.onmouseup=function(){document.selection.empty();}; </script>
<!--百度统计-->

<!--提示框-->
<!--<script>



function dalert(){

	var returnVal = window.confirm("请问是否每天免费获取电影、连续剧同步更新?\r\n那就请添加我们的美女客服吧！我们保证不收任何费用！\r\n如已添加请点“取消”多有打扰请见谅！");

	if(returnVal){

			 window.location.href="/template/dabao/html/weixin.html";

	}

}

setTimeout('dalert()',30000);



</script>-->

<SCRIPT>
var t = document.getElementById("player").offsetTop;
window.onload = function(){
	document.body.scrollTop = t;
}
</SCRIPT>


<!--safari提示结构开始-->
<style>
@charset "utf-8";
/*safari打开提示*/
.click_opacity{ width:100%; height:100%; background:#000; opacity:0.6; position:fixed; z-index:10000; top:0px;}
.to_btn{ position:fixed; top:10px; right:10px; text-align:right; z-index:10001; font-family:"微软雅黑";}
.to_btn span{ display:block;}
.to_btn img{ width:20%; height:auto; display:inline-block;}
.to_btn .span1{ font-size:1.6rem; color:#fff; margin-top:5px;}
.to_btn{ color:#fff;}
.to_btn .span2{ display:inline-block; line-height:36px; width:80%; margin-bottom:12px; text-align:left; font-size:16px;}
.to_btn .span2 em{ display:inline-block; width:16px; height:16px; background:#009dd9; color:#fff; font-size:12px; text-align:center; line-height:16px; border:1px solid #fff; border-radius:50%; margin-right:3px;}
.to_btn .span2 img{ display:inline-block; width:30px; height:30px; margin:0px 5px;}
.to_btn span{ display:block; float:right;}
.gengxinshibaitishiImgss {
    text-indent: 15px;
    width: 640px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    display: block;
    font-size: 24px;
     color:#000; 
}
</style>

<!--safari提示结构结束-->
	
    <script type='text/javascript' src='http://cdn.bootcss.com/zepto/1.2.0/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>



<script type="text/Javascript">
	var is_weixin = (function() {
	    var ua = navigator.userAgent.toLowerCase();
	    if (ua.match(/MicroMessenger/i) == "micromessenger") {
	        return true;
	    } else {
	        return false;
	    }
	})();
	window.onload = function(){
		var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;
		var tip = document.getElementById('weixin-tip');
		var close = document.getElementById('close');
		if(is_weixin){
				tip.style.height = winHeight + 'px';
				tip.style.display = 'block';
				return false;
			}else
			close.onclick = function(){
				tip.style.display = 'none';
			}
		}
	
	
 </script>


</body>

</html>





<!--百度自动提交连接-->






