

<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<title>添加微信获取一手激情电影资源</title>
<style>
body { background-color:#282828; margin:0px; padding:0px; font: 14px Verdana, Arial, Helvetica, sans-serif; color:#cccccc }
.tips { width:100px; height:42px; background:url(../images/tips.jpg) no-repeat; line-height:42px; color:#fff; font-weight:bold; text-indent:1em }
.row { width:100%; margin:10px 0px; padding:0px; }
.text-center { text-align:center }
</style>
</head>

<body>

<div class="user_notice">
    <font color='#ff33ff'><marquee scrollamount="4" behavior="right">微信号:qts23****已添加成功 微信号:13479****已添加成功 微信号:a667****已添加成功 微信号:yhj****已添加成功 微信号:yyyy****已添加成功 微信号:iukghj****已添加成功 微信号:wxid_x****已添加成功 微信号:nvnv****已添加成功 微信号:gfdgs****已添加成功 微信号:trsf****已添加成功 微信号:181909****已添加成功 微信号:ppp****已添加成功 微信号:zhang****已添加成功 </marquee></font> 

</div>

  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00"><center>请扫描下方二维码添加微信号</center></div>
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00"><center>每日同步更新爱奇艺、优酷、搜狐、腾讯等电影、连续剧</center></div>
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00"><center>还有更多激情伦理大片、视频写真免费在线播放</center></div>
<div class="row text-center"> <img src="/images/wx0.png"width="180"/> </div>
<div class="row text-center" >
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00">"长按图片，识别图中二维码"</div>
  <div style="line-height:30px;"> 如长按图片无效，搜索以下微信号添加即可 </div>
  <div style="font-size:28px;font-weight:bold;line-height:60px;color:#66ff99"><span style="border:1px dashed #ff66ff;padding:5px 10px">tangtangboss</span></div>
  <div style="line-height:30px;">长按虚线框，拷贝微信号</div>
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00"><center>添加完成后请点击“返回”继续观看</center></div>
  <div style="font-size:22px;color:#fff;font-weight:bold;line-height:40px;color:#ffff00"><center>多有打扰，还请见谅！！！</center></div>
</div>
</body>
</html>
